{% set pageTitle = "Home" -%}

{% include "includes/_head.html" %}

<section class="container bg-primary">
	<div class="row">
		<div class="col-md-6">
			<img src="../dist/img/kitten.jpg" alt="Kitten Image" class="img-responsive center-block" />
		</div>
		<!-- /.col-md-6 -->

		<div class="col-md-6">
			<h1>This is an Offline Webapp</h1>
			<h2>Homepage!</h2>

			<p>
				So you can surf the Homepage, List and Third page. Only the two first are being actually saved online.
			</p>
			<p>
				If you want to store the Third Page, visit it and click the button.
			</p>
		</div>
		<!-- /.col-md-6 -->
	</div>
	<!-- .row -->
</section>

{% include "includes/_bottom.html" %}
